:root {
  --mobile-margin: 20px;
  --main-section-anchor-space: 4px;
  --main-section-separator-space: 40px;

  --main-color: #294e80;
  --bottom-bar-back-color: #fff;
  --bottom-bar-border-color: #e4e6ec;
  --menu-fore-color: #53586a;

  --pre-fore-color: #e57373;
  --token-color-a: #7f99a5;
  --token-color-b: #bdbdbd;
  --token-color-c: #64b5f6;
  --token-color-d: #ff8f00;
  --token-color-e: #c5e1a5;
  --token-color-f: #ce93d8;
  --token-color-g: #26c6da;
  --token-color-h: #e57373;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

#navbar h1 {
  font-size: 2em;
  white-space: nowrap;
}

.ts-script-text {
  font-weight: 100;
}

.main-section {
  padding-top: var(--main-section-anchor-space);
}

.main-section h2 {
  margin-top: 0;
}

.main-section:after {
  content: "";
  display: block;
  position: relative;
  margin: var(--main-section-separator-space) 20px calc(var(--main-section-separator-space) - var(--main-section-anchor-space));
  border-bottom: 1px solid #ececec;
}

header,
p,
blockquote {
  padding: 0 var(--mobile-margin);
  font-size: 18px;
  line-height: 1.5;
}

code {
  display: block;
  background-color: rgb(30, 37, 61);
  color: var(--pre-fore-color);
  padding: var(--mobile-margin);
  margin: 40px 0;
  line-height: 1.5;
}

blockquote {
  padding: 10px var(--mobile-margin);
  margin: 0 0 20px;
  border-left: 8px solid var(--main-color);
  background: rgba(187, 239, 253, 0.3);
}

.keyword {
  color: #0077cf;
  padding: 1px 5px;
  font-family: monospace;
  -webkit-font-smoothing: auto;
  white-space: nowrap;
  border: 1px solid #e5e5e5;
  background-color: #f7f7f7;
}

/* TOKEN/SYNTAX HIGHLIGHTS */
.token.function {
  color: var(--token-color-c);
}

.token.boolean {
  color: var(--token-color-h);
}

.token.number {
  color: var(--token-color-d);
}

.token.string {
  color: var(--token-color-e);
}

.token.punctuation {
  color: var(--token-color-b);
}

.token.comment {
  color: var(--token-color-a);
}

.token.enum {
  color: var(--token-color-a);
}

.token.key-word,
.token.operator {
  color: var(--token-color-f);
}

/*END TOKEN/SYNTAX HIGHLIGHTS */

ul {
  line-height: 2.2;
}

.main-header {
  display: flex;
  align-items: center;
}

#ts-icon {
  width: 50px;
}

.bottom-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100vw;
  z-index: 9999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: var(--bottom-bar-back-color);
  border-top: 1px solid var(--bottom-bar-border-color);
}

.bottom-bar_btn {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
  color: var(--menu-fore-color);
  display: inline-block;
  width: 25%;
  height: 61px;
  text-align: center;
  margin: 0.5rem 0 0;
  border: none;
  outline: none;
  line-height: 61px;
}

.fa-freecodecamp {
  fill: var(--menu-fore-color);
}

#Table_of_Contents ul {
  border-left: 1px solid #e3e3e3;
  padding: 0 18px;
  margin: 0 0 1em 20px;
  list-style: none;
}

#Table_of_Contents ul a {
  line-height: 1.47059;
  letter-spacing: -0.022em;
  font-family: sans-serif;
  opacity: 0.6;
  padding: 0.2em 0;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #navbar {
    position: fixed;
  }
}
