:root {
  --mobile-margin: 20px;
  --main-color: #294e80;

  --pre-fore-color: #e57373;
  --token-color-a: #7f99a5;
  --token-color-b: #bdbdbd;
  --token-color-c: #64b5f6;
  --token-color-d: #ff8f00;
  --token-color-e: #c5e1a5;
  --token-color-f: #ce93d8;
  --token-color-g: #26c6da;
  --token-color-h: #e57373;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

#navbar h1 {
  font-size: 2em;
  white-space: nowrap;
}

.ts-script-text {
  font-weight: 100;
}

.main-section:after {
  content: "";
  display: block;
  position: relative;
  margin: 40px 20px;
  border-bottom: 1px solid #ececec;
}

header,
p,
blockquote {
  padding: 0 var(--mobile-margin);
  font-size: 18px;
  line-height: 1.5;
}

code {
  display: block;
  background-color: rgb(30, 37, 61);
  color: var(--pre-fore-color);
  padding: var(--mobile-margin);
  margin: 40px 0;
  line-height: 1.5;
}

blockquote {
  padding: 10px var(--mobile-margin);
  margin: 0 0 20px;
  border-left: 8px solid var(--main-color);
  background: rgba(187, 239, 253, 0.3);
}

.keyword {
  color: #0077cf;
  padding: 1px 5px;
  font-family: monospace;
  -webkit-font-smoothing: auto;
  white-space: nowrap;
  border: 1px solid #e5e5e5;
  background-color: #f7f7f7;
}

/* TOKEN/SYNTAX HIGHLIGHTS */
.token.function {
  color: var(--token-color-c);
}

.token.boolean {
  color: var(--token-color-h);
}

.token.number {
  color: var(--token-color-d);
}

.token.string {
  color: var(--token-color-e);
}

.token.punctuation {
  color: var(--token-color-b);
}

.token.comment {
  color: var(--token-color-a);
}

.token.enum {
  color: var(--token-color-a);
}

.token.key-word,
.token.operator {
  color: var(--token-color-f);
}

/*END TOKEN/SYNTAX HIGHLIGHTS */

ul {
  line-height: 2.2;
}

.main-header {
  display: flex;
  align-items: center;
}

#ts-icon {
  width: 50px;
}

@media screen and (min-width: 768px) {
  #navbar {
    position: fixed;
  }
}
